// Standard colours:
$white: #FFF;
$black: #0F1108;
$pantone: #FF6F61;

// Background colours:
$beige: #F7F7F7;
$offWhite: #EAEAEA;
$lightBlack: #1F1F1F;

// Headline colours:
$darkGrey: #353535;
$textGrey: #6A6A6A;
$lightTextGrey: #ECECEC;

$lightGrey: #BDC2BF;

// Backup colours:
$darkBlack: #000;
$backgroundBlack: #202020;
$raisinBlack: #25291C;
$grey: #989C94;
$darkBlue: #10465E;
$turquoise: #00F1D3;
$peach: #F45B69;
$orange:#ED702D;

