$white: #FFF;
$lightGrey: #BDC2BF;
$grey: #989C94;
$raisinBlack: #25291C;
$black: #0F1108;
$darkBlack: #000;
$turquoise: #00F1D3;
$peach: #F45B69;
$darkBlue: #10465E;
$orange:#ED702D;
$pantone: #FF6F61;

$beige: #F7F7F7;
$lightBlack: #1F1F1F;
$darkGrey: #353535;
$textGrey: #6A6A6A;
$lightTextGrey: #ECECEC;

$backgroundBlack: #202020;

