@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

.footer-wrapper {
  background-color: $lightBlack;
  padding: 15px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  font-size: 14px;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    text-align: center;
  }
}

.footer-container p {
  @media only screen and (max-width: $mobile) {
    margin-bottom: 10px;
  }
}

.footer-container a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $pantone;
  }
}