@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

.hero-wrapper {
  background-color: $beige;
  // max-height: 1000px;
  // min-height: 300px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero-row-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: $pantone;
  width: 50vmax;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

.blob {
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

.hero-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.hero-text-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-headline {
  color: $darkGrey;
  font-size: 130px;
  font-weight: bold;
  @media only screen and (max-width: $mobile) {
    font-size: 72px;
    margin-top: -15px;
  }
}

.hero-sub-headline {
  color: $darkGrey;
  font-size: 47px;
  margin: -35px 0px 0px;
  @media only screen and (max-width: $mobile) {
    margin: -15px 0px 0px;
    font-size: 32px;
  }

}

.hero-slogan {
  color: $textGrey;
  font-size: 24px;
  @media only screen and (max-width: $mobile) {
    padding-right: 50px;
  }
}

.hero-scroll-arrow {
  position: absolute;
	left: 50%;
	bottom: 5%;
	z-index: 10;
  width: 15px;
  height: 15px;
  border-bottom: 4px solid $darkGrey;
  border-right: 4px solid $darkGrey;
  transform: translate(-50%, 0%) rotate(45deg);
  // animation: fade_move_down 2s ease-in-out infinite;
  @media only screen and (max-width: $mobile) {
    width: 12px;
    height: 12px;
  }
}

.bounce {
  animation: bounce 2s infinite;
  @media only screen and (max-width: $mobile) {
    animation: none;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-30px) rotate(45deg);
  }
  60% {
    transform: translateY(-15px) rotate(45deg);
  }
}
