@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

/* general styling */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0px;
}

.container, .row, .container .row {
  width: inherit;
  margin: 0px auto;
}

div.row {
  max-width: 900px;
  margin-bottom: 0px;
  padding: 0px 32px;
}

.row .col {
  margin-left: 0px;
  margin-right: 0px;
}

.peach {
  background-color: $peach;
}

.pantone {
  background-color: $pantone;
}

.darkBlue {
  background-color: $darkBlue;
}

.darkGrey {
  background-color: $darkGrey;
}

.turquoise {
  background-color: $turquoise;
}

.lightGrey {
  background-color: $lightGrey;
}
