@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

.mission-wrapper {
  background-color: $lightBlack;
  opacity: 0.98;
}

.mission-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
}

.mission-text {
  color: $white;
  font-weight: 700;
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
  p {
    padding-bottom: 10px;
  }
  @media only screen and (max-width: $tabletBig) {
    font-size: 57px;
    line-height: 57px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 48px;
    line-height: 48px;
  }
  @media only screen and (max-width: $xs) {
    font-size: 36px;
  }
}

span.typed-cursor.typed-cursor--blink {
  display: none;
}

