@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

.portfolio-wrapper {
  background-color: $beige;
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 3%;
}

.portfolio-headline {
  color: $darkGrey;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  @media only screen and (max-width: $tabletBig) {
    padding: 24px 0;
    font-size: 48px;
  }
}

.portfolio-sub-headline {
  color: $darkGrey;
  font-size: 36px;
  line-height: 48px;
  margin-top: -16px;
  text-align: center;
}

.portfolio-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-box {
  max-width: 45vw;
  // transition: all 0.5s ease;
  border: $beige 5px solid;
  position: relative;
  padding: 20px;
  @media only screen and (max-width: $tabletBig) {
    max-width: unset;
    border-width: 2px 4px;
  }
}

.portfolio-box-image {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-content: center;
  @media only screen and (max-width: $tabletBig) {
    width: 100%;
    border: unset;
  }
}

.portfolio-box-image img {
  width: 100%;
  height: 100%;
  padding: 10px 10px 50px 10px; 
}

.portfolio-box-info-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,250,250,0.7);
  padding: 2% 4%;
}

.portfolio-box-info-content p {
  color: $lightBlack;
  text-transform: uppercase;
  letter-spacing: 3px;
}

// .portfolio-box-overlay-icon {
//   position: absolute;
//   width: 40px;
//   height: 40px;
//   right: 0;
//   top: 0;
//   font-size: 16px;
//   text-align: center;
//   color: $black;
//   background: $white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }