@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

/* References Component Styling */
.references-wrapper {
  background-color: $beige;
  // height: 100vh;
  padding-bottom: 30px;
  width: 100vw;
}

.row#references-row {
  @media only screen and (max-width: $tabletBig) {
    padding: 0;
  }
}

.references-headline {
  color: $lightBlack;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  @media only screen and (max-width: $tabletBig) {
    padding-top: 24px;
    font-size: 48px;
  }
}

.references-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.references-image-wrapper img {
  width: 150px;
  margin: 25px;
  @media only screen and (max-width: $tabletBig) {
    width: 100px;
  }
}