@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

.services-wrapper {
  height: 100%;
  min-height: 300px; 
  padding-bottom: 50px;
  background: $lightGrey;
}

.services-container {
  display: flex;
  flex-direction: column;
}

.services-headline {
  color: $lightTextGrey;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  @media only screen and (max-width: $tabletBig) {
    padding-top: 24px;
    font-size: 48px;
  }
}

.services-sub-headline {
  color: $darkGrey;
  font-size: 18px;
  line-height: 24px;
  margin-top: -16px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.8px;
  @media only screen and (max-width: $tabletBig) {
    margin-top: -0px;
  }
}

.services-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  @media only screen and (max-width: $tabletBig) {
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: $mobile) {
    align-items: initial;
  }
}

.services-box {
  background-color: $beige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 230px;
  padding: 30px 20px;
  margin: 20px 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  &:hover {
    // margin-bottom: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  @media only screen and (max-width: $tabletBig) {
    width: 350px;
    margin: 0 0 15px 0;
    padding: 15px 20px;
  }
  @media only screen and (max-width: $mobile) {
    width: initial;
    max-width: 100vw;
  }
}

.services-box-icon img {
  width: 50px;
}

.services-box-headline {
  color: $black;
  margin: 10px 0 20px;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid $darkGrey;
}

.services-box-text {
  font-size: 16px;
  line-height: 24px;
  color: $textGrey;
}