@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

.services-wrapper {
  height: 100%;
  min-height: 300px;
  padding-bottom: 50px;
  background: $lightBlack;
}

.services-container {
  display: flex;
  flex-direction: column;
}

.services-headline {
  color: $lightTextGrey;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  @media only screen and (max-width: $tabletBig) {
    padding-top: 24px;
    font-size: 48px;
  }
}

.services-sub-headline {
  color: $lightTextGrey;
  font-size: 36px;
  line-height: 48px;
  margin-top: -16px;
  text-align: center;
  @media only screen and (min-width: $xxl) {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  @media only screen and (max-width: $tabletBig) {
    font-size: 24px;
    line-height: 32px;
    margin-top: -0px;
  }
}

.services-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  @media only screen and (max-width: $mobile) {
    align-items: initial;
  }
}

.service-box {
  background-color: $lightTextGrey;
  border: 3px solid $pantone;
  margin: 10px;
  width: 350px;
  height: 280px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media only screen and (max-width: $mobile) {
    width: 250px;
    height: 250px;
  }
}

.service-box-main {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.service-box-icon {
  font-size: 50px;
  margin: 20px;
  color: $pantone;
  @media only screen and (max-width: $mobile) {
    margin: 0px 0px 10px 0px;
  }
}

.service-box-header {
  margin: 0px 10px;
}

.service-box-headline {
  color: $black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.service-box-sub-headline {
  color: $darkGrey;
  margin-top: 10px;
}

.service-box-link {
  display: flex;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
}

.service-box-additional {
  margin: 20px 10px 0px 10px;
  color: $darkGrey;
  @media only screen and (max-width: $mobile) {
    display: initial;
  }
}