@import '../appearance/ColorPalette.scss';
@import '../appearance/Breakpoints.scss';

.team-wrapper {
  background-color: $lightBlack;
  min-height: 1200px;
  padding-bottom: 3%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row#team-row {
  @media only screen and (max-width: $tabletBig) {
    padding: 0;
  }
}

.team-headline {
  color: $lightGrey;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  @media only screen and (max-width: $tabletBig) {
    padding-top: 24px;
    font-size: 48px;
  }
}

.team-sub-header-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-sub-headline {
  color: $lightGrey;
  font-size: 16px;
  margin-right: 10px;
  letter-spacing: 0.8px;
  @media only screen and (max-width: $tabletBig) {
    font-size: 14px;
  }
}

.team-sub-header-box img {
  transform: 90deg;
}

// .team-description {
//   color: $lightGrey;
//   text-align: center;
//   margin-bottom: 30px;
// }

.team-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: $tabletBig) {
    justify-content: center;
  }
}

.team-card {
  max-width: 410px;
  height: 180px;
  background-color: rgba(35,35,35,1);
  box-shadow: 10px 10px 0px rgba(10,10,10,0.35);
  position: relative;
  margin: 30px 20px;
  display: flex;
  align-items: center;
}

.team-card img {
  width: 180px;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  z-index: 4;
  position: absolute;
}

.team-card-general {
  padding: 1rem;
  color: $lightGrey;
  margin-left: 170px;
  @media only screen and (max-width: $mobile) {
    padding: -10px 5px;
  }
  @media only screen and (max-width: $xs) {
    margin-left: 150px;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }
}

.team-card-name {
  font-size: 24px;
  margin: 5px 0px;
  font-weight: bold;
  @media only screen and (max-width: $mobile) {
    font-size: 16px;
  }
  @media only screen and (max-width: $xs) {
    font-size: 12px;
    line-height: 10px;
  }
}

.team-card-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 5px 0px;
}

.team-card-general-bio {
  font-size: 14px;
  margin-top: 15px;
  @media only screen and (max-width: $mobile) {
    margin-top: 5px;
    font-size: 12px;
  }
}

.team-card-additional {
  position: absolute;
  width: 120px;
  height: 179px;
  left: 1px;
  background-color: $pantone;
  transition: width 0.8s;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  @media only screen and (max-width: $mobile) {
    width: 0px;
    height: 180px;
  }
}

.team-card:hover .team-card-additional {
  width: 100%;
  @media only screen and (max-width: $mobile) {
    left: 0px;
    z-index: 10;
  }
}

.team-card-additional-info {
  width: 200px;
  position: absolute;
  left: 170px;
  padding: 1rem;
  color: $white;
  @media only screen and (max-width: $mobile) {
    left: 10px;
  }
}

.team-card-additional-info-title {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 2px 0px;
}

.team-card-additional-info-stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 180px;
}

.team-card-additional-info-stack i {
  font-size: 18px;
  margin: 5px 15px 5px 0px;
}

.team-card-additional-info-stack img {
  z-index: 2;
  width: 16px;
  margin-right: 15px;
  position: relative;
  clip-path: none;
}